@font-face {
    font-family: 'Gilroy';
    src: url('../public/fonts/Gilroy/Gilroy-Regular.eot');
    src: local('Gilroy Regular'), local('Gilroy-Regular'),
        url('../public/fonts/Gilroy/Gilroy-Regular.eot?#iefix') format('embedded-opentype'),
        url('../public/fonts/Gilroy/Gilroy-Regular.woff2') format('woff2'),
        url('../public/fonts/Gilroy/Gilroy-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../public/fonts/Gilroy/Gilroy-Bold.eot');
    src: local('Gilroy Bold'), local('Gilroy-Bold'),
        url('../public/fonts/Gilroy/Gilroy-Bold.eot?#iefix') format('embedded-opentype'),
        url('../public/fonts/Gilroy/Gilroy-Bold.woff2') format('woff2'),
        url('../public/fonts/Gilroy/Gilroy-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../public/fonts/Gilroy/Gilroy-Semibold.eot');
    src: local('Gilroy Semibold'), local('Gilroy-Semibold'),
        url('../public/fonts/Gilroy/Gilroy-Semibold.eot?#iefix') format('embedded-opentype'),
        url('../public/fonts/Gilroy/Gilroy-Semibold.woff2') format('woff2'),
        url('../public/fonts/Gilroy/Gilroy-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../public/fonts/Gilroy/Gilroy-Medium.eot');
    src: local('Gilroy Medium'), local('Gilroy-Medium'),
        url('../public/fonts/Gilroy/Gilroy-Medium.eot?#iefix') format('embedded-opentype'),
        url('../public/fonts/Gilroy/Gilroy-Medium.woff2') format('woff2'),
        url('../public/fonts/Gilroy/Gilroy-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../public/fonts/Gilroy/Gilroy-Light.eot');
    src: local('Gilroy Light'), local('Gilroy-Light'),
        url('../public/fonts/Gilroy/Gilroy-Light.eot?#iefix') format('embedded-opentype'),
        url('../public/fonts/Gilroy/Gilroy-Light.woff2') format('woff2'),
        url('../public/fonts/Gilroy/Gilroy-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Alegreya Sans';
    src: local('Alegreya Sans Regular'),
        url('../public/fonts/AlegreyaSans/AlegreyaSans.ttf') format('truetype');
    font-style: normal;
}

@font-face {
    font-family: 'Baron Neue';
    src: local('Baron Neue Regular'), local('Baron-Neue-Regular'),
        url('../public/fonts/BaronNeue/BaronNeue.woff') format('woff2'),
        url('../public/fonts/BaronNeue/BaronNeue.woff') format('woff'),
        url('../public/fonts/BaronNeue/BaronNeue.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}




@font-face {
    font-family: 'Furore';
    src: url('../public/fonts/Furore/Furore.eot');
    src: local('Furore'),
        url('../public/fonts/Furore/Furore.eot?#iefix') format('embedded-opentype'),
        url('../public/fonts/Furore/Furore.woff2') format('woff2'),
        url('../public/fonts/Furore/Furore.woff') format('woff'),
        url('../public/fonts/Furore/Furore.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


* {
  padding: 0;
  margin: 0;
  border: 0;
}

p {
  padding: 0;
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
/*Подключение шрифтов*/
/* Стили компонентов */
/*Шрифты*/
/*Палитра цветов*/
* {
  color: #ccdedb;
  font-family: Gilroy Light;
  font-size: calc(14px + 3 * (100vw - 320px) / 1620);
  font-style: normal;
  font-weight: normal;
  line-height: 1.4;
  letter-spacing: 0.05em;
}

.logo .logo__title {
  color: #fff;
  font-family: Furore;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.12;
  letter-spacing: "";
}

.text, button {
  color: #ccdedb;
  font-family: Gilroy Light;
  font-size: calc(14px + 3 * (100vw - 320px) / 1620);
  font-style: normal;
  font-weight: 400;
  line-height: 1.82;
  letter-spacing: 0.1em;
}

.title-blue {
  color: #4EB5B5;
  font-family: Gilroy Regular;
  font-size: calc(30px + 5 * (100vw - 320px) / 1620);
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.11em;
}

.title-white {
  color: #fff;
  font-family: Baron Neue;
  font-size: calc(20px + 5 * (100vw - 320px) / 1620);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.05em;
}

.subtitle {
  color: #fff;
  font-family: Gilroy;
  font-size: calc(17px + 5 * (100vw - 320px) / 1620);
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.1em;
}

a,
nav-item {
  color: #fff;
  font-family: Gilroy Light;
  font-size: calc(14px + 2 * (100vw - 320px) / 1620);
  font-style: normal;
  font-weight: 400;
  line-height: "";
  letter-spacing: "";
}

a,
nav-item {
  color: #fff !important;
  transition: 0.2s ease;
}
a:hover,
nav-item:hover {
  color: #4EB5B5 !important;
}

body {
  background: #11212a;
}

span {
  all: inherit;
  display: inline;
  padding: 0;
}

ul {
  padding-left: 30px !important;
}

i {
  transition: inherit;
}

input {
  background: #11212a;
  border: none;
  border-radius: 5px;
  color: #ccdedb;
}

::-webkit-scrollbar {
  width: 18px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #4EB5B5;
  background-clip: content-box;
  border: 7px solid transparent;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: transparent;
}

select {
  background-color: #182e3b !important;
  background-image: url("../public/img/angle-down.svg") !important;
  color: #fff !important;
  border: none !important;
  border-radius: 10px !important;
  font-size: 1em !important;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}
select option {
  margin-bottom: 10px !important;
}

button {
  background-color: #4EB5B5;
  color: #fff;
  border-radius: 5px !important;
  border: 1px solid #4EB5B5;
  padding: 0px 20px;
  transition: 0.2s ease;
}
button:hover {
  background-color: #138f87;
}

.form-control {
  background: #11212a;
  color: #ccdedb;
  border: none;
  border-radius: 10px;
}
.form-control:focus {
  background: #11212a;
  color: #ccdedb;
}

.btn-outline {
  background: transparent;
  border: 1px solid #ccdedb;
  transition: 0.2s ease;
}
.btn-outline p {
  transition: inherit;
}
.btn-outline:hover {
  border-color: #4EB5B5;
  color: #4EB5B5;
  background: transparent;
}
.btn-outline:hover > i, .btn-outline:hover > p {
  color: #4EB5B5;
}

.btn-svg {
  padding: 0;
  line-height: normal;
  background-color: transparent;
  border: none;
  opacity: 0.2;
}
.btn-svg:hover {
  background-color: transparent;
  opacity: 1;
  transform: scale(1.5);
}

.btn-ashy {
  background: #182e3b;
  border-color: #182e3b;
}
.btn-ashy:hover {
  background: #11212a;
}

.container {
  position: relative;
  background: #102430;
  z-index: 10;
  min-height: 93.7vh;
  border-radius: 10px;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 20px;
}
@media (min-width: 350px) and (max-width: 780px) {
  .container {
    max-width: 100%;
  }
}

.container_lines::before, .container_lines::after {
  content: "";
  background: #4EB5B5;
  position: absolute;
  top: 35px;
  bottom: 0;
  left: 0;
  width: 4px;
}
.container_lines::after {
  left: calc(100% - 4px);
  width: 4px;
}

.wrapper {
  position: relative;
}

.dragon-left,
.dragon-right {
  position: absolute;
  background-image: url("../public/img/dragon.svg");
  background-repeat: no-repeat;
  width: 200px;
  height: 300px;
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
  left: 1%;
}

.dragon-right {
  transform: scaleX(-1);
  left: auto;
  right: 1%;
}

.border-decor {
  position: absolute;
  top: 0px;
}
.border-decor_left {
  left: 0px;
}
.border-decor_right {
  left: calc(100% - 18px);
  transform: scale(-1, 1);
}

.noHover {
  pointer-events: none;
}

.text-color-blue {
  color: #4EB5B5;
}

.text_span {
  color: #fff;
  font-weight: 500;
}

.title-blue {
  text-align: center;
}

.title-white {
  text-align: center;
}

.btn-active {
  background: #4EB5B5 !important;
}

.logo .logo__title {
  width: 85px;
  flex-shrink: 0;
}

.my-btn-close {
  padding: 5px;
  padding-top: 0;
  padding-bottom: 0;
  background: transparent;
  border: none;
}

.my-btn-close:hover {
  background-color: #11212a;
}

.modal-content {
  background: #182e3b;
  padding: 20px;
  border-radius: 15px;
}
.modal-content label {
  font-family: Gilroy;
  font-weight: 500;
}
.modal-content .form-control {
  padding: 7px 15px;
  font-size: 0.9em;
}

.my-modal-title {
  font-size: 1.2em;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.8px;
}

.hr-line {
  color: #325b70;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}